{% extends "base.html" %}
{% block title %}Delete Category{% endblock %}

{% block content %}
<div class="container">
        <div class="col-md-12">
            <div class="row">
                <h1>Delete Category</h1>
            </div>
            <div class="row">
                    <h3>Conform to delete {{category.name}}?</h3>
            </div>
            <div class="row">
                <form method="POST">
                    <button type="submit">Delete</button>
                    <a href="{{ url_for('home') }}">
                        <button type="button">Cancel</button>
                    </a>
                </form>
            </div>
        </div>
</div>
{% endblock %}