{% extends "base.html" %}
{% block title %}Add Category{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" >
            <div class="col-md-7">
               <h1>Edit {{ category.name }}</h1>
               <form name="new-category" method="POST">
                    <div class="form-group">
                      <input name="name" type="text">
                    </div>
                    <button type="submit">Submit</button>
                    <a href="{{ url_for('home') }}">
                        <button type="button">Cancel</button>
                    </a>
                </form>

            </div>
        </div>
    </div>
{% endblock %}